[submodule "workflow/scripts/luca_qMT"]
	path = workflow/scripts/luca_qMT
	url = https://github.com/lsoustelle/qMT.git
[submodule "workflow/scripts/tMPPCA"]
	path = workflow/scripts/tMPPCA
	url = git@github.com:lsoustelle/tMPPCA.git
[submodule "ihMT"]
	path = ihMT
	url = git@github.com:SirTwinkleberry/ihMT.git
[submodule "workflow/script"]
	path = workflow/script
	url = git@github.com:SirTwinkleberry/ihMT.git
[submodule "workflow/scripts/tim_ihMT"]
	path = workflow/scripts/tim_ihMT
	url = git@github.com:SirTwinkleberry/ihMT.git
[submodule "workflow/scripts/MPRAGEise"]
	path = workflow/scripts/MPRAGEise
	url = https://github.com/srikash/MPRAGEise.git
[submodule "workflow/scripts/MP2Proc"]
	path = workflow/scripts/MP2Proc
	url = https://github.com/SirTwinkleberry/MP2Proc.git
